@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Outfit:wght@400;700&display=swap');

:root {
  --clr-prime-orange: hsl(35, 77%, 62%);
  --clr-prime-red: hsl(5, 85%, 63%);
  --clr-off-white: hsl(36, 100%, 99%);
  --clr-gray-blue: hsl(233, 8%, 79%);
  --clr-dark-gray-blue: hsl(236, 13%, 42%);
  --clr-dark-blue: hsl(240, 100%, 5%);
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-v-bold: 800;
  counter-reset: article-counter;
}

/* --------------- */
/* Reset  */
/* --------------- */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;

}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* --------------- */
/* Utility Classes */
/* --------------- */


.flex {
  display: flex;
  gap: 1rem;
}

.logo {
  margin: 1rem;
}

.prime-header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}


.mobile-nav-toggle {
  display: none;
}

.primary-nav {
  align-items: center;
  margin: 0;
  padding: 0;

}

@media (max-width: 35em) {
  .primary-nav {
    position: fixed;
    inset: 0 0 0 30%;
    z-index: 1000;
    background-color: var(--clr-off-white);
    flex-direction: column;
    padding: min(30vh, 10rem) 2rem;

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-nav[data-visible='true'] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background-color: transparent;
    background-image: url(/assets/images/icon-menu.svg);
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded='true'] {
    background-image: url(/assets/images/icon-menu-close.svg);
  }

}

nav ul {
  list-style-type: none;
}

nav a {
  color: var(--clr-dark-blue);
  margin-inline-end: 2rem;
}

nav a:hover,
nav a:active {
  color: var(--clr-prime-red);
}

.grid-col-span-2 {
  grid-column: span 2;
}

.grid-col-span-3 {
  grid-column: span 3;
}

/* --------------- */
/* Other Classes */
/* --------------- */

body a {
  text-decoration: none;
}


body {
  font-family: 'Inter';
  overflow-x: hidden;
  width: min(95%, 70rem);
  margin-inline: auto;
}





main section.hero {
  grid-row: span 2;
}




div.hero-article h1 {
  font-size: 4rem;
  font-weight: var(--fw-v-bold);
}

div.hero-article a.btn {
  color: var(--clr-off-white);
  background-color: var(--clr-prime-red);
  font-size: 1.25rem;
  font-weight: var(--fw-bold);
  padding: 1.5rem 4rem;
  letter-spacing: .4rem;
  text-transform: uppercase;
}

div.hero-article p {
  margin-bottom: 2rem;
  color: var(--clr-dark-gray-blue);
}

div.hero-article a.btn:hover,
div.hero-article a.btn:active {
  background-color: var(--clr-dark-blue);
}

section.side-panel {
  background-color: var(--clr-dark-blue);
  color: var(--clr-dark-gray-blue);
  grid-column-start: 3;
  grid-row: 1/3;
}

section.side-panel h2 {
  color: var(--clr-prime-orange);
  font-size: 3rem;
  font-weight: var(--fw-bold);
}

section.side-panel hr {
  color: var(--clr-dark-gray-blue);
  width: 80%;
  margin-inline: auto;
}

section.side-panel .side-article {
  margin: 2rem auto;
  width: 90%;
}

section.side-panel a {
  color: var(--clr-off-white);
  font-size: 1.5rem;
  font-weight: var(--fw-bold);
}

section.side-panel a:hover,
section.side-panel a:active {
  color: var(--clr-prime-orange);
  cursor: pointer;
}



main.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  /* align-items: center; */
  /* justify-content: center; */
}

main img.img-desktop {
  display: none;
}

div.counter::before {
  counter-increment: article-counter;
  content: counter(article-counter, decimal-leading-zero);
  font-size: 2rem;
  color: var(--clr-gray-blue);
}

section.article {
  color: var(--clr-dark-blue);
}

section.article a {
  color: var(--clr-dark-blue);
}

section.article p {
  font-size: 1.5rem;
  color: var(--clr-dark-gray-blue);
}

section.article a:hover,
section.article a:active {
  color: var(--clr-prime-red);
  font-weight: var(--fw-normal);
}

@media only screen and (min-width: 768px) {
  main img.img-desktop {
    display: block;
  }

  main img.img-mobile {
    display: none;
  }
}